/* Global settings */

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{
    --mainBgColor:rgba(20,20,31,1);
    --secondaryBgColor:rgba(27,27,39,1);
    --borderColor1:rgb(147, 190, 176);
    --borderColor2:rgba(79,86,105,1);
    --textColorMain:#fff;
    --textColorSecondary:rgb(226, 227, 232);
    --themeColorMain:rgb(92, 111, 104);
    --themeColorSecondary:rgb(90, 143, 107);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

a {
    color: #40e0d0;
}

body {
    background-color: var(--mainBgColor);
    color: var(--textColorMain);
}

.container{
    max-width: 600px;
    margin:20px auto;
}

h1 {
    text-align: center;
}

/* Login & Register Pages */

.auth--container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.border {
    border:1px solid var(--themeColorSecondary);
    border-radius: 10px;
    padding: 20px 30px 30px 30px;
    box-shadow: 10px 10px var(--themeColorSecondary);
    transition: 0.3s;
    background-color: var(--secondaryBgColor);
}

.border:hover {
    box-shadow: none;
    transition: 0.3s;
}

.border2 {
    border:1px solid var(--themeColorSecondary);
    border-radius: 10px;
    padding: 20px 30px 30px 30px;
    transition: 0.3s;
    background-color: var(--secondaryBgColor);
}

.border2:hover {
    background-color: rgb(30, 30, 43);
    transition: 0.3s;
}

.form--wrapper{
    width: 600px;
    width: 600px;
    padding: 2em;
}

.field--wrapper{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.5em 0;
}

/* Form Input Styling */

input[type="text"], input[type="password"], input[type="email"], textarea,
input[type="number"], select{
    background: var(--mainBgColor);
    border: none;
    border-bottom: 1px solid var(--borderColor1);
    padding: 1rem;
    border-radius: 3px;
    width: 100%;
    color: var(--color-light);
    outline: none;
    font-size: 18px;
    text-shadow: none !important;
}


/* Button Styling */

.btn{
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn--lg{
    padding: 1em 2em;
}

.btn--main{
    background-color: #55cd4c;
    color: #fff;
}

.btn--secondary{
    background-color: #82d97c;
}

.btn:hover{
    opacity: 0.7;
}

.delete--btn{
    color: #82d97c;
    cursor: pointer;
    transition: 0.3s;
    width: 16px;
    padding-bottom: 4px;
}

.delete--btn:hover{
    color:red;
}

.header--link{
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.header--link:hover{
    color: #55cd4c;
}
